<template>
  <div>
    <mdb-navbar position="top" dark color="primary" scrolling>
      <router-link :to="{ name: 'home'}">
        <mdb-navbar-brand >Home</mdb-navbar-brand>
      </router-link>
      <mdb-navbar-toggler>
        <mdb-navbar-nav>
          <router-link :to="{ name: 'about'}">
            <mdb-nav-item waves-fixed>About</mdb-nav-item>
          </router-link>
          <router-link :to="{ name: 'contact'}">
            <mdb-nav-item waves-fixed>Contact</mdb-nav-item>
          </router-link>
        </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {
  mdbNavbar,
  mdbNavItem,
  mdbNavbarNav,
  mdbNavbarToggler,
  mdbDropdown,
  mdbDropdownItem,
  mdbDropdownMenu,
  mdbDropdownToggle,
  mdbInput,
  mdbBtn,
  mdbNavbarBrand,
  mdbContainer,
  mdbMask
} from 'mdbvue';

@Component({
  components: {
    mdbNavbar,
    mdbNavItem,
    mdbNavbarNav,
    mdbNavbarToggler,
    mdbDropdown,
    mdbDropdownItem,
    mdbDropdownMenu,
    mdbDropdownToggle,
    mdbInput,
    mdbBtn,
    mdbNavbarBrand,
    mdbContainer,
    mdbMask
  }
})
export default class NavigationBar extends Vue {}
</script>

<style scoped>
</style>