<template>
  <div class="container">
    <div class="row mt-5 pt-5 ">
      <h1>This is an about page</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class About extends Vue {}
</script>
