<template>
  <div class="container">
    <div class="row mt-5 pt-5 ">
      <h1>This is a contact page</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class Contact extends Vue {}
</script>

<style scoped>
.height {
  height: 1900px;
}
</style>
