<template>
  <div>
    <mdb-carousel
      :interval="8000"
      slide
      :items="items"
      controlls
    ></mdb-carousel>
    <div class="container">
      <div class="row pb-3">
        <div class="flex flex-container">
          <div class="pt-5" v-for="(card, index) in cards" :key="index">
            <Card :cardViewModel="card" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/components/Card.vue';
import { mdbCarousel } from 'mdbvue';
import CardViewModel from '@/components/viewmodels/cardViewModel';
import CarouselViewModel from '@/components/viewmodels/carouselViewModel';
import * as httpUtils from '@/networking/httpUtils';
import StudentModel from '@/models/studentModel';
import { Getter, Action } from 'vuex-class';

const namespace: string = 'students';
@Component({
  components: {
    Card,
    mdbCarousel
  }
})
export default class Home extends Vue {
  @Action('fetchStudents', { namespace })
  fetchStudents!: () => Promise<void>;

  @Getter('getStudents', { namespace })
  getStudents!: StudentModel[];

  cards: CardViewModel[] = [];
  items: CarouselViewModel[] = [
    {
      img: true,
      src: httpUtils.BASE_IP + '/images/yanaforest1.jpg'
    },
    {
      img: true,
      src: httpUtils.BASE_IP + '/images/yanaforest2.jpg'
    },
    {
      img: true,
      src: httpUtils.BASE_IP + '/images/yanaforest3.jpg'
    }
  ];

  async mounted() {
    await this.fetchStudents();
    this.populateCards(this.getStudents);
    const { status, data } = await httpUtils.get('/images');
    console.log(data);
  }

  populateCards(students: StudentModel[]) {
    this.cards = students.map(student => {
      return {
        text: student.text,
        title: student.name,
        imageUrl: httpUtils.BASE_IP + '/' + student.profilePicturePath
      };
    });
  }
}
</script>

<style scoped>
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
</style>
