<template>
    <mdb-card class="item">
    <mdb-view hover>
        <a>
            <mdb-card-image
                :src="cardViewModel.imageUrl"
                alt="Card image cap"/>
            <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
        </a>
    </mdb-view>
    <mdb-card-body>
        <mdb-card-title>{{cardViewModel.title}}</mdb-card-title>
        <mdb-card-text>{{cardViewModel.text}}</mdb-card-text>
        <mdb-btn color="primary">Click Me</mdb-btn>
    </mdb-card-body>
    </mdb-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { mdbCard, mdbCardImage, mdbCardBody, mdbCardTitle, mdbCardText, mdbBtn, mdbView, mdbMask } from 'mdbvue';
import CardViewModel from './viewmodels/cardViewModel';
@Component({
    components: {
        mdbCard, mdbCardImage, mdbCardBody, mdbCardTitle, mdbCardText, mdbBtn, mdbView, mdbMask
    }
})
export default class Card extends Vue {

    @Prop({default: () => new CardViewModel() })
    cardViewModel!: CardViewModel;

}
</script>

<style scoped>
.item {
    flex-shrink: 1;
    max-height: 300px;
    max-width: 300px;
}
</style>