<template>
  <mdb-footer color="blue" class="font-small pt-4 mt-4">

    <div class="footer-copyright text-center py-3">
      <mdb-container fluid>
        &copy; 2018 Copyright: https://www.juelmohr.dk
        <a href="https://www.juelmohr.dk"></a>
      </mdb-container>
    </div>
  </mdb-footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mdbFooter, mdbContainer, mdbRow, mdbCol } from 'mdbvue';
@Component({
  components: {
    mdbFooter,
    mdbContainer,
    mdbRow,
    mdbCol
  }
})
export default class Footer extends Vue {}
</script>

<style scoped></style>
