<template>
  <div id="app">
    <NavigationBar />
    <main>
      <div class="min-height">
        <router-view />
      </div>
    </main>
    <Footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import NavigationBar from '@/components/navigation/NavigationBar.vue';
import Footer from '@/components/Footer.vue';
import { mdbContainer, mdbMask } from 'mdbvue';

@Component({
  components: {
    NavigationBar,
    Footer,
    mdbContainer,
    mdbMask
  }
})
export default class App extends Vue {}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.min-height {
  min-height: 100vh;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
